.Modal {
  box-sizing: border-box;
  width: 400px;
  margin: auto;
  margin-top: 50vh;
  transform: translate(0, -50%);

  background-color: #999;
  outline: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;

  position: relative;
  top: -2rem;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F883;
}

p {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}